/* importar el styles.css */
@import url(styles.css);

body{
    background-image: url(../assets/image/levanBG.jpeg);
    z-index: 1;
    height: 90vh;
    position: relative;
    top: 50px;
    width: auto;
}
#superposicion{
    z-index: 10;
    width: 150px;
    position: relative;
    left: 140px;
    top: 250px;
    background-image: url(../assets/image/imgFondotexto.png);

}

@media (min-width: 750px) {
    
    body{
        width: auto;
        background-size: cover;
    }
    #superposicion{
        width: 350px;
        height: 160px;
        left: 380px;
        top: 520px;
    }
    #titulo{
        font-size: 35px;
        
    }
    #presentacion{
        font-size: 20px;
    }
}
@media (min-width: 1300px){
    
    body{
        width: auto;
        background-size: cover;
    }
    #superposicion{
        
        left: 780px;
        top: 250px;
    }
}