/* importar el styles.css */
@import url(styles.css);
body{
    background-color: blue;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    color:#fff8f8;
}
#navUl{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem; 
    /* border: 1px solid black; */
    background-color: #69c469;
    width: 95%;
}
li{
    display: flex;
    align-items: center;
    padding: 5px;
    padding-inline-end: 5rem;
    cursor: pointer;
    height: 50px;
}

/* tablet */
@media (max-width: 900px){
    body{
        background-color: red;
    }
    #navUl{
        gap: 1rem;
    }
    li{
        padding-inline-end: 2rem;
    }
}
/* celular */
@media(max-width: 500px){
    body{
        background-color: aqua;
    }
    #navUl{
        display: none;
    }
}